<header>
  <h1><%= link_to "OurShelf", root_path, id: "logo" %></h1>
  <nav>
      <ul class="info">
        <li><%= link_to "ランキング", "#" %></li>
        <li><%= link_to "新着情報", "#" %></li>
      </ul>

      <ul class="navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.picture.url, :size =>'60' if current_user.picture? %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "本を探す", search_path %></li>
              <li><%= link_to "ユーザーを探す", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="selected"><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
  </nav>
  <div class="clear"></div>
</header>
